<launch>
  
    <!-- Launch Gazebo  -->
    <include file="$(find yanshee_gazebo)/launch/yanshee_gazebo_world.launch" />

    <!-- ros_control arm launch file -->
    <include file="$(find yanshee_gazebo)/launch/yanshee_gazebo_state.launch" />   

    <!-- ros_control trajectory control dof arm launch file -->
    <include file="$(find yanshee_gazebo)/launch/yanshee_trajectory_controller.launch" />

    <!-- moveit launch file -->
    <include file="$(find yanshee_moveit_config)/launch/moveit_planning_execution.launch" />

</launch>
